.title {
  background-image: linear-gradient(to right, blue, grey);
}

input {
  width: 100%;
  margin-bottom: 0.5rem;
}

button {
  width: 100%;
}

#error-msg {
  display: none;
  margin-top: 1rem;
}

#main-weather-card {
  width: 98%;
  margin: 0 auto;
}

#main-container {
  max-width: none;
}

#forecast-container {
  margin-left: 0.75rem;
}

#aside {
  width: auto;
}

.day-card {
  color: white;
  margin-right: 1rem;
}

.icon {
  max-width: 64px;
  max-height: 64px;
}

@media screen and (max-width: 767px) {
  #main-container {
    flex-direction: column !important;
  }

  #aside {
    width: 100% !important;
  }

  #main-weather-card {
    width: 100% !important;
    margin-top: 1rem;
  }

  #forecast-label {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  #forecast-container {
    flex-direction: column !important;
    margin-left: 0 !important;
  }

  .day-card {
    margin-right: 0 !important;
    margin-bottom: 1rem !important;
  }
}
