:root {
  --secondary-color: lightgrey;
}

li {
  list-style-type: none;
}

input {
  width: 100%;
  margin-bottom: 0.5rem;
}

button {
  width: 100%;
}

#main-container {
  max-width: none;
}

#aside {
  width: auto;
}

.day-card {
  color: white;
  margin-right: 1rem;
}

.previous-search {
  width: 100%;
  background-color: var(--secondary-color);
}
