header {
  background-image: linear-gradient(to right, blue, grey);
}

input {
  width: 100%;
  margin-bottom: 0.5rem;
}

button {
  width: 100%;
}

#main-weather-card {
  width: 98%;
  margin: 0 auto;
}

#main-container {
  max-width: none;
}

#aside {
  width: auto;
}

.day-card {
  color: white;
  margin-right: 1rem;
}

.icon {
  max-width: 64px;
  max-height: 64px;
}
